<html ng-app="weatherDataApp" ng-controller="WeatherDataController">
<head> 
    <title>Weather data</title>
    <style>
        td {
            width: 40px;
            height: 40px;
            border: 1px solid black;
        }
        table {
            border: 1px solid black;
            border-spacing: 0;
        }
    </style>
</head>
<body >
    
    <h3>Select city:</h3>
    <select ng-model="cityName" ng-change="onCitySelectionChanged()">
        <option value="Aarhus">Aarhus</option>
        <option value="Copenhagen">Copenhagen</option>
        <option value="Horsens">Horsens</option>
    </select>
    <h3>From:</h3>
    <input ng-model="fromDate" id="fromDatePicker" ng-change="onDateChanged()" type="date" />
    <h3>To:</h3>
    <input ng-model="toDate" id="toDatePicker" ng-change="onDateChanged()" type="date" />
    <button id="reloadDataButton" ng-click="onReloadDataClicked()">Reload Data</button>
    <button id="createReportButton" ng-click="onCreateReportClicked()">Create Data</button>
    
    <div id="latest_data_div">
        <h1>Latest weather data from each type within the selected date interval:</h1>
        <table id="latest_data_table">
            <thead>
                <tr>
                    <td><b>Type</b></td>
                    <td><b>Value</b></td>
                    <td><b>Unit</b></td>
                    <td><b>Time</b></td>
                    <td><b>Place</b></td>
                </tr>
                <tr ng-repeat="weatherData in model.latestDataOfEachType">
                    <td>{{weatherData.type}}</td>
                    <td>{{weatherData.value}}</td>
                    <td>{{weatherData.unit}}</td>
                    <td>{{weatherData.time}}</td>
                    <td>{{weatherData.place}}</td>
                </tr>
            </thead>
            <tbody id="latest_data_data"></tbody>
        </table>
    </div>

    <div id="min_temperature_div">
        <h1>Minimum temperature recorded within the selected date interval:</h1>
        <table id="min_temperature_table">
            <thead>
                <tr>
                    <td><b>Type</b></td>
                    <td><b>Value</b></td>
                    <td><b>Unit</b></td>
                    <td><b>Time</b></td>
                    <td><b>Place</b></td>
                </tr>
                <tr ng-repeat="weatherData in model.minimumTemperatureData">
                    <td>{{weatherData.type}}</td>
                    <td>{{weatherData.value}}</td>
                    <td>{{weatherData.unit}}</td>
                    <td>{{weatherData.time}}</td>
                    <td>{{weatherData.place}}</td>
                </tr>
            </thead>
            <tbody id="min_temperature_data"></tbody>
        </table>
   </div>    

   <div id="max_temperature_div">
        <h1>Maximum temperature recorded within the selected date interval:</h1>
        <table id="max_temperature_table">
            <thead>
                <tr>
                    <td><b>Type</b></td>
                    <td><b>Value</b></td>
                    <td><b>Unit</b></td>
                    <td><b>Time</b></td>
                    <td><b>Place</b></td>
                </tr>
                <tr ng-repeat="weatherData in model.maximumTemperatureData">
                    <td>{{weatherData.type}}</td>
                    <td>{{weatherData.value}}</td>
                    <td>{{weatherData.unit}}</td>
                    <td>{{weatherData.time}}</td>
                    <td>{{weatherData.place}}</td>
                </tr>
            </thead>
            <tbody id="max_temperature_data"></tbody>
        </table>
    </div>    

    <div id = "base">
        <h1 id="totalPrecipitation">Total precipitation within the selected date interval: {{model.totalPrecipitation}} mm</h1>
        <h1 id="averageWindSpeed">Average wind speed within the selected date interval: {{model.averageWindSpeed}} m/s</h1>
        <h1 id="averageCloudCoverage">Average cloud coverage within the selected date interval: {{model.averageCloudCoverage}} %</h1>
        <h1 id="dominantWindDirection">Dominant wind direction within the selected date interval: {{model.dominantWindDirection}}</h1>
    </div>
    
    <div id="hourly_predictions">
        <h1>Hourly temperature predictions within the selected date interval:</h1>
        <table id="hourly_predictions_table">
            <thead>
                <tr>
                    <td><b>From</b></td>
                    <td><b>To</b></td>
                    <td><b>Type</b></td>
                    <td><b>Unit</b></td>
                    <td><b>Time</b></td>
                    <td><b>Place</b></td>
                </tr>
                <tr ng-repeat="weatherPrediction in model.weatherPredictions">
                    <td>{{weatherPrediction.from}}</td>
                    <td>{{weatherPrediction.to}}</td>
                    <td>{{weatherPrediction.type}}</td>
                    <td>{{weatherPrediction.unit}}</td>
                    <td>{{weatherPrediction.time}}</td>
                    <td>{{weatherPrediction.place}}</td>
                </tr>
            </thead>
            <tbody id="hourly_predictions_data"></tbody>
        </table>
    </div>

</body>

<script type = "module">
        import "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"
        import "./components.js"
</script>

</html>